* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 300px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.display {
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    min-height: 60px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 1.5rem;
    border: none;
    background-color: #666;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btn.operator {
    background-color: #f39c12;
}

.btn:hover {
    background-color: #888;
}

#equals {
    background-color: #27ae60;
    grid-column: span 2;
}

#clear {
    background-color: #e74c3c;
    grid-column: span 2;
}
